:root {
  --bg: #000;
  --fg: #fff;
  --card-1: #ff629c;
  --card-2: #9290fe;
  --card-3: #ce2107;
}

.background-split {
  font-family: "Instrument Serif", serif;
  overflow-x: hidden;
  scrollbar-width: none;
}

.background-split img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background-split h1 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1;
}

.background-split p {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
}

.background-split section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  background-color: var(--bg);
  color: var(--fg);
}

.background-split .intro,
.background-split .outro {
  text-align: center;
  align-content: center;
}

.background-split .intro h1,
.background-split .outro h1 {
  width: 30%;
  margin: 0 auto;
}

.background-split .sticky {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-split .sticky-header {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background-split .sticky-header h1 {
  position: relative;
  text-align: center;
  will-change: transform, opacity;
  transform: translateY(40px);
  opacity: 0;
}

.background-split .card-container {
  position: relative;
  width: 75%;
  display: flex;
  perspective: 1000px;
  transform: translateY(40px);
  will-change: width;
}

.background-split .card {
  position: relative;
  flex: 1;
  aspect-ratio: 5/6;
  transform-style: preserve-3d;
  transform-origin: top;
}

.background-split #card-1 {
  border-radius: 20px 0 0 20px;
}

.background-split #card-3 {
  border-radius: 0 20px 20px 0;
}

.background-split .card-front,
.background-split .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: inherit;
  overflow: hidden;
}

.background-split .card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: rotateY(180deg);
  padding: 2rem;
}

.background-split .card-back span {
  font-family: monospace;
  position: absolute;
  top: 2rem;
  left: 2rem;
  opacity: 0.7;
}

.background-split #card-1 .card-back {
  background-color: var(--card-1);
  color: var(--bg);
}

.background-split #card-2 .card-back {
  background-color: var(--card-2);
  color: var(--bg);
}

.background-split #card-3 .card-back {
  background-color: var(--card-3);
  color: var(--bg);
}

@media (max-width: 1000px) {
  .background-split h1 {
    font-size: 3rem;
  }

  .background-split .intro h1,
  .background-split .outro h1 {
    width: 100%;
  }

  .background-split .sticky {
    height: max-content;
    padding: 4rem 2rem;
    flex-direction: column;
  }

  .background-split .sticky-header {
    position: relative;
    top: 0;
    right: 0;
    transform: none;
    margin-bottom: 4rem;
  }

  .background-split .sticky-header h1 {
    opacity: 1;
    font-size: 2rem;
  }

  .background-split .card-container {
    width: 100%;
    flex-direction: column;
    gap: 2rem;
  }

  .background-split .card {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 20px !important;
  }

  .background-split #card-1,
  .background-split #card-2,
  .background-split #card-3,
  .background-split .card-back {
    transform: none;
  }
}
