:root {
  --base-100: #171717;
  --base-200: #f2f5ea;
  --base-300: #fc694c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background-team {
  font-family: "Barlow Condensed", sans-serif;
  background-color: var(--base-100);
  color: var(--base-200);
}

.background-team img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background-team h1 {
  text-transform: uppercase;
  font-size: 12rem;
  font-weight: 800;
  line-height: 0.8;
}

.background-team p {
  font-family: "DM Mono", monospace;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1;
}

.background-team section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 1rem;
}

.background-team .hero,
.background-team .outro {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.background-team .hero h1,
.background-team .outro h1 {
  width: 75%;
  color: var(--base-300);
}

.background-team .team {
  display: flex;
  gap: 1rem;
}

.background-team .team-member {
  flex: 1;
  position: relative;
  width: 100%;
  height: 100%;
  border: 2px dashed rgba(242, 245, 234, 0.35);
  border-radius: 1.5rem;
  will-change: transform;
}

.background-team .team-member:nth-child(1) {
  z-index: 2;
}

.background-team .team-member:nth-child(2) {
  z-index: 1;
}

.background-team .team-member:nth-child(3) {
  z-index: 0;
}

.background-team .team-member-name-initial {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background-team .team-member-name-initial h1 {
  color: var(--base-300);
  font-size: 20rem;
  will-change: transform;
}

.background-team .team-member-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: var(--base-200);
  border-radius: 1.5rem;
  will-change: transform;
}

.background-team .team-member-img {
  aspect-ratio: 1;
  border-radius: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

.background-team .team-member-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.background-team .team-member-info h1 {
  font-size: 6.5rem;
  color: var(--base-300);
}

.background-team .team-member-info h1 span,
.background-team .team-member-info p {
  color: var(--base-100);
}

.background-team .team-member {
  transform: translateY(125%);
}

.background-team .team-member-name-initial h1 {
  transform: scale(0);
}

.background-team .team-member:nth-child(1) .team-member-card {
  transform: translate(300%, -50%) scale(0.75) rotate(20deg);
}

.background-team .team-member:nth-child(2) .team-member-card {
  transform: translate(200%, -50%) scale(0.75) rotate(20deg);
}

.background-team .team-member:nth-child(3) .team-member-card {
  transform: translate(100%, -50%) scale(0.75) rotate(20deg);
}

@media (max-width: 1000px) {
  .background-team h1 {
    font-size: 4rem;
  }

  .background-team .hero h1,
  .background-team .outro h1 {
    width: 100%;
  }

  .background-team .team {
    height: 250svh;
    flex-direction: column;
    align-items: center;
  }

  .background-team .team-member {
    max-width: 400px;
    transform: translateY(0%) !important;
  }

  .background-team .team-member-name-initial h1 {
    transform: scale(1);
  }

  .background-team .team-member .team-member-card {
    transform: translate(-50%, -50%) scale(1) rotate(0deg) !important;
  }

  .background-team .team-member-info h1 {
    font-size: 5rem;
  }
}
